.Shipping {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.check-input {
  border: 2px solid transparent;
  width: 100%;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
  margin-bottom: 10px;
}

.check-input-sm:hover,.check-input:hover,
.check-input-sm:focus,.check-input:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.check-detl {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.check-input-sm {
  border: 2px solid transparent;
  margin: 2px;
  width: 100%;
  height: 2.5em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
  margin-bottom: 10px;
}
.brd-tot {
  border-bottom: 1px solid #ccc;
}



.custom-select {
    margin-top: 10px;
	position: relative;
}

.custom-select select {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	font-size: 18px;
	padding: 5px 10px 5px 10px;
	background-color: #FFFFFF;
	border: 1px solid #C4D1EB;
	border-radius: 5px;
	color: #000000;
	cursor: pointer;
	outline: none;
	box-shadow: 3px 3px 2px 0px #E2E2E2;
}

.custom-select select:focus {
	background: #F2F2F2;
	border: 1px solid #5A7EC7;
	border-radius: 5px;
}

.custom-select::after {
	content: "";
	position: absolute;
	pointer-events: none;
	top: 50%;
	right: 10px;
	transform: translate(0, -50%);
	width: 12px;
	height: 12px;
	background-color: #000000;
	clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
}