.order-section {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin-left: 50px;
}

.section-heading {
  font-size: 25px;
  color: #fff;
}

.order-information {
  border-bottom: 1px solid #fff;
  margin-bottom: 40px;
}

.order-details h3,
.payment-details h3 {
  text-decoration: underline yellow;
  text-underline-offset: 10px;
}

.order-details-list {
  list-style: none;
  padding: 0;
}

.order-details-list .shipping-items {
  margin-top: 20px;
}

.list-item {
  display: flex;
  gap: 60px;
  margin-bottom: 3px;
  color: #fff;
}

.item-label,
.item-value {
  font-weight: bold;
}

.payment-info {
  margin-bottom: 20px;
}

.total-amount {
  display: flex;
  justify-content: flex-end;
}

.total-amount ul {
  list-style: none;
}

.total-amount li {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  min-width: 200px;
  margin-bottom: 5px;
}

.total-amount .item-value {
  text-align: right;
}
.order-icon {
  align-items: center;
  font-size: 25px;
}
.item-value.total-payment {
  color: red;
}
.status-flx{
    gap: 3px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.status-select {
  position: relative;
}

.status-select select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  font-size: 18px;
  padding: 5px 10px 5px 10px;
  background-color: #ffffff;
  border: 1px solid #c4d1eb;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 2px 0px #e2e2e2;
}

.status-select select:focus {
  background: #f2f2f2;
  border: 1px solid #5a7ec7;
  border-radius: 5px;
}

.status-select::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  width: 12px;
  height: 12px;
  background-color: #000000;
  clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
}
